div.box {
    width: 162px;
    height: 162px;
}

#boardcontainer {
    margin: 1% auto;
    width: 60%;
    align-content: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.gameboardplayercontainer {
    width: 1fr;
    margin: 20px;
    display: inline-block;
    align-content: center;
}

span.name {
    text-align: center;
    display: block;
    font-size: 1.3rem;
    font-family: 'bebas neue';
}

span.record {
    text-align: center;
    display: block;
    font-size: 1.3rem;
    font-family: 'bebas neue';
}

#exterior {
    width: 5fr;
    margin: 2%;
    padding: 0;
    display: block;
}

.playerphoto {
    border-radius: 10px;
}

#board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    background-color: hsl(206, 50%, 50%);
    /* border: black solid 1px; */
    align-content: center;
    text-align: center;
    padding: 10px;
    margin: 0%;
    border-radius: 15px;
    width: 100%;
    height: 100%;
  }

div.coincontainer {
    width: 100%;
    align-content: center;
}

div.coinspacer {
    width: 30%;
    display: inline-block;
}

 img.spinningcoin {
     background-color: hsl(206, 50%, 80%);
     width: 40%;
     align-self: center;
     margin: 0% auto;
     padding: 2%;
     text-align: center;
     align-content: center;
     display: inline-block;
 }

 @media only screen and (max-width: 500px) {
    #boardcontainer {
        margin: 0 auto;
        width: 100%;
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #board {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1%;
        background-color: hsl(206, 50%, 50%);
        align-content: center;
        text-align: center;
        padding: 1%;
        margin: 0%;
        border-radius: 15px;
        width: 100%;
      }

      .box {
        max-width: 100%;
    }
  }