div.box {
    width: 162px;
    height: 162px;
}

#boardcontainer {
    margin: 1% auto;
    width: 60%;
    align-content: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.gameboardplayercontainer {
    width: 1fr;
    margin: 20px;
    display: inline-block;
    align-content: center;
}

span.name {
    text-align: center;
    display: block;
    font-size: 1.3rem;
    font-family: 'bebas neue';
}

#exterior {
    width: 5fr;
    margin: 2%;
    padding: 0;
    display: block;
}

.playerphoto {
    border-radius: 10px;
}

#board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    background-color: hsl(206, 50%, 50%);
    /* border: black solid 1px; */
    align-content: center;
    text-align: center;
    padding: 10px;
    margin: 0%;
    border-radius: 15px;
    width: 100%;
    height: 100%;
  }

 