

footer {
    text-align: center;
    padding: 5px 5px;
    position: relative;
    font-size: 18px;
    width: 100%;
    z-index: 9;
    bottom: 0;
    background-color: black;
    display: block;
    border-radius: 15px;
    font-family: nunito;
    margin-top: 30px;
}

#footertext {
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;;
    font-weight: 100;

}

span.ggi {
    font-weight: 700 !important;
    letter-spacing: .01em;
}

@media only screen and (max-width: 500px) {
    footer {
        text-align: center;
        padding: 1px 1px;
        position: relative;
        width: 100%;
        z-index: 9;
        bottom: 0;
        background-color: black;
        display: block;
        border-radius: 15px;
        font-family: nunito;
    }
    
    #footertext {
        font-size: .8rem;
    }

    
  }