#company {
    display: inline;
    margin: 0;
}

nav {
    width: 100%;
    display: inline-flex;
    margin: 0px;
    padding: 0px;
    justify-content: flex-end;
    border-radius: 15px;
    z-index: 1;
    position: fixed;
}

nav h5 {
    font-size: 20px;
    margin: 0px 5px;
    padding: 6px;
    border-radius: 10px;
    background-color: hsl(206, 50%, 50%);
    text-align: center;
    font-weight: 600;
    border: 1px hsl(206, 50%, 80%) solid;
}

nav a {
    color: black;
    text-decoration: none;
}

header {
    position: relative;
    background-color: hsl(206, 50%, 50%);
    width: 100%;
    padding: 00px 10px 0px 10px;
    margin: 2.5% 1%;
    border-radius: 15px;
    z-index: 2;
}

#logo {
    position: fixed;
    border-radius: 100%;
    max-width: 8%;
    z-index: 20;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    right: 88%;
    height: auto;
    justify-self: start;
}


nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    display: inline-flex;
    margin: 0px;
    padding: 0px;
    justify-content: flex-end;
    right: 5%;
}

nav h5 {
    font-size: 20px;
    margin: 0px 5px;
    padding: 6px;
    border-radius: 10px;
    background-color: hsl(206, 50%, 50%);
    text-align: center;
    font-weight: 600;
    border: 1px hsl(206, 50%, 80%) solid;
}

nav a {
    color: black;
    text-decoration: none;
}



#title {
    font-family: "Cinzel";
    font-size: 5rem;
    position: relative;
    color: black;
    padding: 0px;
    left: 11%;
    height: 10%;
    margin: 0;
    text-align: left;
    display: inline-block;
    line-height: .9em;
}


#goldberg {
    font-size: 6rem;
    letter-spacing: .1em;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 500px) {

    nav {
        width: 100%;
        display: flex;
        margin: 0 auto;
        padding: 0 3%;
        justify-content: space-between;
        border-radius: 15px;
        z-index: 1;
        position: relative;
    }
    
    nav h5 {
        font-size: .8rem;
        margin: 0% 1%;
        padding: 1%;
        display: inline-block;
        border-radius: 10px;
        background-color: hsl(206, 50%, 50%);
        text-align: center;
        font-weight: 600;
        border: 1px hsl(206, 50%, 80%) solid;
    }
    
    nav a {
        color: black;
        text-decoration: none;
    }

    header {
        width: 95%;
        padding: 0;
        margin: 0;
        margin-top: 2%;
        display: flex;
        align-content: space-between;
    }

    #title {
        display: inline-block;
        font-size: 1.4rem;
        width: 70%;
        padding: 2% auto;
        order: 2
    }

    #goldberg {
        font-size: 1.6rem;
  }

    #logo {
        position: relative;
        display: inline-block;
        border-radius: 100%;
        min-width: 20%;
        height: 9%;
        z-index: 20;
        order: 1;
        left: 0;
        
    }
}