#newgame {
    text-align: center;
    align-content: space-around;
    padding: 1%;
    background-color: hsl(206, 50%, 70%);
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

div.buttoncontainers {
    display: inline-block;
    width: 50%;
    margin: 0, auto;
    text-align: center;

}

div.spacer {
    width: 30%;
    display: inline-block;
}

button.playagain {
    display: block;
    margin: 1% auto;
    padding: 1%;
    font-size: 1.7rem;
    background-color: hsl(206, 50%, 50%);
    border: none;
    opacity: 1;
    border-radius: 15px;
    font-family: 'bebas neue';
    width: 25%;
    display: inline-block;
}

@media only screen and (max-width: 500px) {
    #newgame {
        display: flex;
        width: 98%;
        flex-wrap: nowrap;
    }

    div.buttoncontainers {
        display: inline-block;
        width: 50%;
    }

    button.playagain {
        font-size: 1rem;
        display: inline-block;
        width: 75%;
    }

    div.spacer {
        display: none;
    }


  }