
#playerselect {
    display: flex;
    align-content: space-around;
    text-align: center;
    width: 100%;
    margin: 0%;

}

.flexspacer {
    width: 20%;
}

div.playerchoicecontainer {
    display: inline-block;
    margin: 1% 2%;
    padding: 1%;
    width: 20%;
    align-content: center;
    text-align: center;
    background-color: hsl(206, 50%, 70%);
    border-radius: 15px;
}

form.playerRadio {
    padding: 3%;
    width: 80%;
}

input {
    display: inline;
}

form.start {
    font-size: 1.5em;
    padding: 0%;
}

button.submit {
    padding: .5% 1%;
    text-align: center;
    border-radius: 15px;
    background-color:  hsl(206, 50%, 50%);
    font-weight: 700;
    margin: 0;
    font-size: 1.2em;
    font-family: Nunito;
    display: inline-block;
    height: 15%;
    font-weight: 600;
    margin-top: 5%;
}

h3 {
    font-size: 2em;
    margin: 0px;
    background-color:hsl(206, 50%, 50%);
    display: block;
    padding: 2% 5%;
    width: 100%;
    border-radius: 10px;
    font-family: bebas neue;
    margin: 1% auto;
    text-align: center;
    width: 80%;

  }

  #playerMessage {
    font-size: 2rem;
  }

  .playerPhoto {
      margin: 6%;
  }

  label {
      font-size: 1.2rem;
      display: inline-block;
      text-align: center;
      margin: 0% auto;
  }

  .playerRadio {
      display: flex;
      align-items: center;
      align-content: space-around;
      
  }

  .formcontainer {
      align-content: space-around;
      display: flex;
      padding: 0% auto;
      margin: 0;
  }

  .spacer {
      width: 25%;
      display: inline-block;
    }