

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  box-sizing: border-box;
  font-family: Nunito;
  font-size: 16px;
  background-color:  hsl(206, 50%, 50%);
  width: 100%;
  padding: 0% 2% 2% 2%;
}

main {
  background-color:  hsl(206, 50%, 80%);
  width: 100%;
  border-radius: 15px;
  align-content: center;
  padding-bottom: 3%;
}

#tictactoe {
  margin: 0%;
  padding: 2%;
}

@media only screen and (max-width: 500px) {
  #tictactoe {
    font-size: 2.5rem;
  }

  html {
    box-sizing: border-box;
    font-family: Nunito;
    font-size: 16px;
    background-color:  hsl(206, 50%, 50%);
    width: 100%;
    padding: 0% 11% 2% 2%;
    margin: 0 auto;
    align-content: center;
  }
  
  body {
    width: 100%;
    margin: 0 auto;
    align-content: center;
  }

  div.App {
    width: 100%;
    margin: 0 auto;
    align-content: center;
  }

  main {
    width: 100%;
    margin: 0 auto;
    align-content: center;
  }
}

